extends layout
block content

  h1= title
  //- - let items = ['squirrel_type','quantity','cost']
  - let items = results;
  - let o;  
  div(class='container-fluid')
    div(class='row m-1')
      each item,index in items
        - let destination = `dispatch(\"/squirrel/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.squirrel_color}(#{item.squirrel_breed}) is #{item.squirrel_price}        
          button.btn( class="btn-success ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }

  